---

clusters:
# Example: simple with static IP (DHCP leases are also created) and user managed VIPs
- name: ocp4-simple-static
  type: simple
  cluster_definition:
    baseDomain: gmbros.local

    controlPlaneReplicas: 3
    computeReplicas: 2

    machineNetwork:
      cidr: 10.11.0.0/24
      firstIP: 10.11.0.103

    bootstrapIP: 10.11.0.99

    lbManaged: user
    ingressVIP: 10.11.0.100
    apiVIP: 10.11.0.101

# Example: simple with dynamic DHCP (no lease) and cluster managed VIPs
- name: ocp4-simple-dynamic
  type: simple
  cluster_definition:
    baseDomain: gmbros.local

    controlPlaneReplicas: 3
    computeReplicas: 2

    machineNetwork:
      cidr: 10.11.0.0/24

    lbManaged: cluster
    ingressVIP: 10.11.0.200
    apiVIP: 10.11.0.201

# Example: abi-vsphere with static IP (DHCP leases are also created) and cluster managed VIPs
- name: ocp4-abi-vsphere-static
  type: abi-vsphere
  cluster_definition:
    inventoryBaseDir: /home/sgarcia/src/ocp4-abi-vsphere-ansible/inventories
    clusterBaseDir: ~/.local/ocp4/clusters

    baseDomain: gmbros.local
    controlPlaneReplicas: 3
    computeReplicas: 2

    networkType: OVNKubernetes
    machineNetwork:
      cidr: 10.13.0.0/24
      gateway:
        address: 10.13.0.1
      dns-resolver:
        config:
          server:
          - 10.13.0.1
      firstIP: 10.13.0.103

    ingressVIP: 10.13.0.100
    apiVIP: 10.13.0.101
    lbManaged: cluster

    vms:
      defaultConfig:
        cluster: zone3
        cpu: 4
        memory: 8192
        disk:
        - 100
        networks:
        - name: ens192
          network: VM Routed Network
        datastore: esx3-datastore
      controlPlaneConfig:
        memory: 16384
      computeConfig: {}

# Example: abi-vsphere with dynamic DHCP (fixed for rendezvous node) and cluster managed VIPs
- name: ocp4-abi-vsphere-dynamic
  type: abi-vsphere
  cluster_definition:
    inventoryBaseDir: /home/sgarcia/src/ocp4-abi-vsphere-ansible/inventories
    clusterBaseDir: ~/.local/ocp4/clusters

    baseDomain: gmbros.local

    controlPlaneReplicas: 3
    computeReplicas: 2

    networkType: OVNKubernetes
    machineNetwork:
      cidr: 10.11.0.0/24
    
    rendezvousIP: 10.11.0.103

    lbManaged: cluster
    ingressVIP: 10.11.0.200
    apiVIP: 10.11.0.201

    vms:
      defaultConfig:
        cluster: zone1
        cpu: 4
        memory: 8192
        disk:
        - 100
        networks:
        - name: ens192
          network: VM Routed Network
        datastore: esx1-datastore
      controlPlaneConfig:
        memory: 16384
      computeConfig: {}

    templateOverrides:
      vms:
        node00:
          interfaces:
          - name: ens192
            ipv4:
              address: 10.11.0.103
              prefix-length: 24
          dns-resolver:
            config:
              server:
              - 10.11.0.1
          gateway:
            address: 10.11.0.1
            interface: ens192
