- block:
  - name: Install dnsmasq
    ansible.builtin.package:
      name: dnsmasq
      state: present
    when: not skip_package_install | default(false)

  - name: Ensure dnsmasq configuration directory exists
    ansible.builtin.file:
      path: /etc/dnsmasq.d
      state: directory
      owner: root
      group: root
      mode: '0755'

  - name: Deploy dnsmasq.conf for mode
    ansible.builtin.template:
      src: "dnsmasq.conf.{{ dnsmasq_mode }}.j2"
      dest: /etc/dnsmasq.conf
      owner: root
      group: root
      mode: '0644'
    notify: Restart dnsmasq

  - name: Deploy dnsmasq.d contents for authoritative mode
    ansible.builtin.copy:
      src: files/dnsmasq/dnsmasq.d/
      dest: /etc/dnsmasq.d/
      owner: root
      group: root
      mode: '0644'
    notify: Restart dnsmasq
    when: dnsmasq_mode == 'authoritative'

  - name: Build list of legacy cluster dnsmasq files
    ansible.builtin.set_fact:
      legacy_cluster_dnsmasq_files: >-
        {{ clusters_expanded
           | map(attribute='domain')
           | map('regex_replace', '^', '/etc/dnsmasq.d/sgarcia/')
           | map('regex_replace', '$', '.conf')
           | list }}
    when: clusters_expanded is defined

  - name: Remove legacy cluster dnsmasq files
    ansible.builtin.file:
      path: "{{ item }}"
      state: absent
    loop: "{{ legacy_cluster_dnsmasq_files | default([]) }}"
    notify: Restart dnsmasq
    when:
    - dnsmasq_mode == 'authoritative'
    - legacy_cluster_dnsmasq_files is defined

  - name: Deploy cluster dnsmasq entries
    ansible.builtin.template:
      src: dnsmasq.clusters.conf.j2
      dest: /etc/dnsmasq.d/sgarcia/clusters.conf
      owner: root
      group: root
      mode: '0644'
    notify: Restart dnsmasq
    when:
    - dnsmasq_mode == 'authoritative'
    - clusters_expanded is defined

  - name: Enable and start dnsmasq
    ansible.builtin.systemd:
      name: dnsmasq
      enabled: yes
      state: started
  when: dnsmasq_mode is defined and setup_dnsmasq == true
