[Unit]
Description=DHCP Relay Agent Daemon
Documentation=man:dhcrelay(8)
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/sbin/dhcrelay -d --no-pid {% for iface in interfaces | selectattr('zone', 'defined') | selectattr('zone', 'equalto', 'public') %}-i {{ iface.name }} {% endfor %}{{ dhcp_relay_server }}
StandardError=null

[Install]
WantedBy=multi-user.target
